<header>
    <div class="tsd-page-toolbar">
        <div class="container">
          <a href="{{relativeURL "index.html"}}">
            <img src="{{relativeURL "assets/logo.svg"}}" style="max-height: 42px; margin: 20px 0 0 30px"/>
          </a>
        </div>
    </div>
</header>